.modal {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 3.8fr; */
    /* height: 400px; */
    width: 40rem;
    background-color: #2b2b2b;
    border-radius: 10px;
}

.modalHeader {
    height: 4.85rem;
    color: lightgrey;
    font-size: 1.9rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 1.25px solid black;
}

.loginform {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginform>* {
    width: 31.2rem;
    height: 56px;
    margin: 8.75px;
}

.remembermePswd {
    color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.rememberme {
    display: flex;
    font-family: 'Arial';
    font-size: 17.5px;
}

.rememberme * {
    margin: 3.5px;
}

.forgotpswd {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 17.5px;
    cursor: pointer;
}

.forgotpswd:hover {
    text-decoration: underline;
}
